body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}
p {
    font-size: 1.25rem;
}
h1 {
    font-size: 2.5rem;
}
.skyblue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203)
}
#parent > p {
    font-weight: bold;
}